Repository grafana/xk6-browser, pull requests merged in 2023-02, with the labels that each got.

#750 Add contributing guidelines for external use
  CONTRIBUTING.md
  Makefile
  SECURITY.md
Labels: documentation

#754 Fix to use a fresh VU context on each mapped method call
  browser/mapping.go
  browser/mapping_test.go
  browser/module.go
Labels: bug, k6-core-compatibility, mapping

#759 Remove the browser closing state
  common/browser.go
Labels: refactor

#781 Fix mapping response json field name
  browser/mapping.go
  browser/mapping_test.go
Labels: bug, mapping

#782 Refactor/mapping to first letter lower
  browser/mapping_test.go
Labels: tests, refactor, mapping

#783 Fix unmap internal methods
  browser/mapping.go
  browser/mapping_test.go
Labels: bug, playwright compatibility, mapping

#779 Clear zombie browser processes on panic
  api/browser_type.go
  browser/mapping.go
  browser/mapping_test.go
  browser/module.go
  browser/modulevu.go
  browser/pidregistry.go
  chromium/browser_type.go
  k6ext/context.go
  k6ext/panic.go
  tests/browser_test.go
  tests/test_browser.go
Labels: enhancement, refactor, mapping

#797 Fix multi browser close vu was missing in Context
  browser/modulevu.go
Labels: bug

#798 Add locator mapping test
  browser/mapping_test.go
Labels: tests, mapping

#799 Add a testing functionality to detect redundant mappings
  browser/mapping_test.go
Labels: tests, mapping
